// article_01.scss

#article_01{ position:relative; @include conUnit(margin-top, 50); width:100%; height:auto; 
  &>.art_01_full_box{ width:100%; @include conUnit( min-width, 320); height:auto; 
    &>.art_01_box{ position:relative; @include conUnit( padding, 20); box-sizing:border-box; width:100%; height:40vw; border-bottom:1px solid #333;
      &>.art_01_focus{ position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:30vw; height:30vw; background-color:#eee; opacity:0.7; border-radius:100%; 
        &>a{ display:block; position:absolute; top:0; left:0; transform:trnaslateY(-50%); width:100%; height:auto; border-radius:100%; color:#fff; text-shadow:3px 3px #333; text-align:center; @include conUnit( font-size, 14); line-height:100px; }
      } //art_01_focus
    } //art_01_box
    &>.art_01_img_box{ width:100%; height:40vw; background-size:cover; background-position:100% 100%; background-repeat: no-repeat; }
   
      & .art_01_respon_box{ display:none; @include fullBox; 
        &>span{ display:none; }
      } //js 제어 영역
      & .art_01_respon_box.action{ display:block; position:absolute; top:0; left:0;  @include fullBox; box-sizing:initial; background-color:rgba(200, 200, 200, 0.5); opacity:1;
        & span{ display:block; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); @include conUnit(font-size, 16); text-align: center; color:#fff;  }
      } 
    &>.art_01_btn_area{ position:absolute; right:5%; bottom:5%; @include conUnit( width, 30); @include conUnit( height, 30); 
      &>button{ width:100%; height:100%; background-image: url('../../img/icon/more-01.png'); background-size: cover; background-repeat: no-repeat; background-position:50% 50%;}
    }
  } //art_01_full_box
} //article_01