// article_02.scss
$count:5; 
#article_02{ position:relative; @include conUnit(margin-top, 50); width:100%; @include conUnit( height, 300);
  &>.art_02_form_box{ position:absolute; top:0; left:0; margin:auto; width:100%; @include conUnit( min-width, 320); height:100%; background-color: #fff; overflow:hidden;
    &>ul{ position:absolute; top:0; left:-100%; width:100% * $count; height:100%; 
      &>li{ float:left; width:100% / $count; height:100%;
        &>a{ display:block;  @include conUnit(padding, 50); box-sizing:border-box; @include fullBox; background-size: cover; background-position:100% 100%; background-repeat: no-repeat;
          &>span{ display:block; width:auto; height:100%; transform:translateY(50%); @include conUnit(font-size, 18); }
        } //a
      } //li

    } //ul 
    &>.btn_area { position:absolute; top:50%; transform:translateY(-50%); z-index:500; width:100%; height:0;
      &>.next{ float:right; @include conUnit( width, 50); @include conUnit( height, 50); background-color:transparent;}
      &>.prev{ float:left; @include conUnit( width, 50); @include conUnit( height, 50); background-color:transparent; }
        & i{ font-size:30px; color:#fff; text-shadow:3px 3px #333; }
    }
    &>.more_btn{ position:absolute; @include conUnit( right, 20); @include conUnit( bottom, 10); @include conUnit( width, 30); @include conUnit( height, 30); background-image: url('../../img/icon/more-01.png'); background-size: cover; background-position:50% 50%; background-repeat: no-repeat; }

    &>.adver_product{ position:absolute; @include conUnit( right, 50); @include conUnit( bottom, 80); width:60%; height:auto; background-color: $gray; } 
     
    
  }  
}