// m_pub_header.scss

#pub_header{ position:fixed; top:0; left:0; z-index:1000; @include conUnit( padding, 20); box-sizing:border-box; width:100%; @include conUnit( min-width, 320); height:auto; @include conUnit( min-height, 100); background-color: rgba(50, 50, 200, 0.5); clear:both;
  &>h1{ float:left; width:30%;  @include conUnit( height, 64); background-image: url('../../img/icon/logo.png'); background-size: contain; background-position:50% 50%; background-repeat: no-repeat; }
  &>.form_area{ float:left; @include conUnit( padding, 10); box-sizing:border-box; width:50%; @include conUnit( height, 64); @include conUnit( margin-left, 5);  
    &>form{ @include fullBox;
      & input{ float:left; width:70%; @include conUnit( height, 50); }
      & button{ float:right; width:30%; @include conUnit( height, 50); background-image: url('../../img/icon/search-icon.png'); background-position:50% 50%; background-size: cover; background-repeat: no-repeat; }
    } //form 
  } //form_area
  &>.samseon_btn{ float:right; @include conUnit( padding, 10); box-sizing:border-box;  @include conUnit( width, 50); @include conUnit( height, 50); background-color:transparent;
    &>button{ @include fullBox; background-color:transparent;
      &>i{ @include fullBox;; @include conUnit( font-size, 50); background-color:transparent; color:#fff; }
    }
    &>.anothe_area{ $colum:6;
      display:none; position:absolute; @include conUnit( top, 0); left:0; z-index:500; width:100%; @include conUnit( height, 500); 
      &>.close_btn{ position:absolute; right:0; bottom:0; @include conUnit( width, 40); @include conUnit( height, 40); background-color: transparent; 
        &>i{ @include conUnit(font-size, 30); color:#000033; }
      }
      &>ul{ width:100%; height:100%; @include conUnit( padding, 20); box-sizing:border-box; background-color:#fff; 
        &>li{ width:100%; height:100%; 
          &>dl{ float:left; width:100% / $colum; height:100%;
            &>dt{ width:100%; height:10%; background-color: rgba(14, 7, 78, 0.65); 
              &>a{ display:block; width:auto; height:auto; line-height:40px; font-style:bold; text-align:center; font-size:14px; color:#fff; }
            }
            &>dd{ width:100%; height:auto; background-color: #fff; margin-top:20px;
              &>a{ display:block; width:auto; height:auto; font-style:normal; font-size:13px; color:#333; }
            }
          } //dl
        } //li
      } //ul
    } //anothe_area
  } //samseon_btn
} //pub_header