// section_pc_01.scss
$count:5;
#section_pc_01{ position:relative; width:100%; height:100%; @include conUnit(max-width, 1280); 
  &>.guideBox{ width:100%; height:100%; overflow:hidden;
    &>ul{ width:100% * $count; height:auto; margin-left:-100%;
      &>li{ float:left; position:relative; width:100% / $count; height:900px;  
        &>a{ display:block; position:absolute; right:10%; top:50%; transform:translateY(-50%); width:auto; height:auto; 
          &>span{ @include conUnit(font-size, 30); text-align:center; color:#fff; text-shadow:3px 3px 0 #333; }
        } //a
      } //li
    } //ul
    &>.btn_area{ position:absolute; left:0; right:0; top:50%; transform:translateY(-50%); width:100%; height:0; 
      &>button{ float:right; @include conUnit(width, 100); @include conUnit(height, 100); background-color:transparent; 
        &>i{ @include conUnit(font-size, 60); text-shadow:3px 3px 0 #333; }
      }
      &>.prev{ float:left; }
    } //btn_area
    &>span{ display:block; position:absolute; bottom:10%; left:10%; width:auto; height:auto; @include conUnit(font-size, 50); color:#fff; text-shadow:3px 3px 0 #333; }
  } //guideBox
} //section_pc_01