#wrap {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.7); }

#pub_header_pc_full {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 10px;
  padding: 0.625rem;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background-color: rgba(25, 25, 70, 0.8); }
  #pub_header_pc_full > h1 {
    float: left;
    margin-right: 5%;
    width: 15%;
    height: 50px;
    height: 3.125rem;
    background-color: #eee; }
  #pub_header_pc_full > .form_area {
    float: left;
    margin-right: 5%;
    width: 30%;
    height: 80px;
    height: 5rem; }
    #pub_header_pc_full > .form_area > form {
      width: 100%;
      height: 100%;
      margin: auto;
      padding: 10px;
      padding: 0.625rem;
      box-sizing: border-box;
      border-bottom: 5px solid #99befd; }
      #pub_header_pc_full > .form_area > form input[type="text"] {
        float: left;
        width: 80%;
        height: 70px;
        height: 4.375rem;
        background-color: transparent;
        border: 0; }
      #pub_header_pc_full > .form_area > form button[type="button"] {
        float: right;
        width: 20%;
        height: 70px;
        height: 4.375rem;
        background-color: transparent; }
        #pub_header_pc_full > .form_area > form button[type="button"] > i {
          display: block;
          width: auto;
          height: auto;
          font-size: 30px;
          font-size: 1.875rem;
          color: #fff; }
  #pub_header_pc_full > .gnb {
    float: left;
    margin-right: 5%;
    width: 30%;
    height: 80px;
    height: 5rem; }
    #pub_header_pc_full > .gnb > .nav_area {
      width: 100%;
      height: 100%;
      margin: auto; }
      #pub_header_pc_full > .gnb > .nav_area > ul {
        width: 100%;
        height: 100%;
        margin: auto;
        padding: 20px;
        padding: 1.25rem;
        box-sizing: border-box; }
        #pub_header_pc_full > .gnb > .nav_area > ul > li {
          float: left;
          width: 33.33333%;
          height: 100%; }
          #pub_header_pc_full > .gnb > .nav_area > ul > li > a {
            display: block;
            width: auto;
            height: 50px;
            height: 3.125rem;
            color: #fff;
            font-size: 20px;
            font-size: 1.25rem;
            text-align: center;
            white-space: nowrap;
            word-break: keep-all; }
            #pub_header_pc_full > .gnb > .nav_area > ul > li > a > i {
              display: block;
              width: 100%;
              height: 30px;
              height: 1.875rem;
              font-size: 30px;
              font-size: 1.875rem;
              color: #fff;
              text-align: center; }
  #pub_header_pc_full > .samseon_btn {
    float: right;
    margin-right: 5%;
    width: 5%;
    height: 80px;
    height: 5rem; }
    #pub_header_pc_full > .samseon_btn > button {
      width: 100%;
      height: 100%;
      margin: auto;
      background-color: transparent; }
      #pub_header_pc_full > .samseon_btn > button > i {
        display: block;
        width: auto;
        height: auto;
        font-size: 60px;
        font-size: 3.75rem;
        color: #fff; }
    #pub_header_pc_full > .samseon_btn > .anothe_area {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;
      width: 100%;
      height: 800px;
      height: 50rem;
      background-color: #fff; }
      #pub_header_pc_full > .samseon_btn > .anothe_area > ul {
        width: 100%;
        height: auto; }
        #pub_header_pc_full > .samseon_btn > .anothe_area > ul > li {
          padding: 50px;
          padding: 3.125rem;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          margin: auto; }
          #pub_header_pc_full > .samseon_btn > .anothe_area > ul > li > dl {
            float: left;
            width: 16.66667%;
            height: auto; }
            #pub_header_pc_full > .samseon_btn > .anothe_area > ul > li > dl > dt {
              width: 100%;
              height: 20%;
              border-bottom: 3px solid #000033; }
              #pub_header_pc_full > .samseon_btn > .anothe_area > ul > li > dl > dt > a {
                display: block;
                font-size: 36px;
                font-size: 2.25rem;
                color: #000033;
                text-align: center; }
            #pub_header_pc_full > .samseon_btn > .anothe_area > ul > li > dl > dd {
              margin-top: 30px;
              margin-top: 1.875rem;
              width: 100%;
              height: auto; }
              #pub_header_pc_full > .samseon_btn > .anothe_area > ul > li > dl > dd a {
                display: block;
                font-size: 30px;
                font-size: 1.875rem;
                color: #000033; }
      #pub_header_pc_full > .samseon_btn > .anothe_area > .close_btn {
        position: absolute;
        bottom: 0px;
        bottom: 0rem;
        right: 10px;
        right: 0.625rem;
        width: 70px;
        width: 4.375rem;
        height: 70px;
        height: 4.375rem;
        background-color: transparent; }
        #pub_header_pc_full > .samseon_btn > .anothe_area > .close_btn > i {
          font-size: 50px;
          font-size: 3.125rem;
          margin-bottom: 0;
          margin-right: 100px;
          margin-right: 6.25rem;
          color: #000033; }

#section_pc_full {
  position: relative;
  width: 100%;
  height: 1000px;
  height: 62.5rem; }
  #section_pc_full > .guideBox {
    width: 100%;
    height: 100%;
    overflow: hidden; }
    #section_pc_full > .guideBox > ul {
      width: 500%;
      height: auto;
      left: -100%;
      position: relative; }
      #section_pc_full > .guideBox > ul > li {
        float: left;
        position: relative;
        width: 20%;
        height: 1000px;
        height: 62.5rem; }
        #section_pc_full > .guideBox > ul > li > a {
          display: block;
          position: absolute;
          right: 10%;
          top: 50%;
          transform: translateY(-50%);
          width: auto;
          height: auto; }
          #section_pc_full > .guideBox > ul > li > a > span {
            font-size: 50px;
            font-size: 3.125rem;
            text-align: center;
            color: #fff;
            text-shadow: 3px 3px 0 #333; }
    #section_pc_full > .guideBox > .btn_area {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 0; }
      #section_pc_full > .guideBox > .btn_area > button {
        float: right;
        width: 100px;
        width: 6.25rem;
        height: 100px;
        height: 6.25rem;
        background-color: transparent; }
        #section_pc_full > .guideBox > .btn_area > button > i {
          font-size: 100px;
          font-size: 6.25rem;
          text-shadow: 3px 3px 0 #333; }
      #section_pc_full > .guideBox > .btn_area > .prev {
        float: left; }
    #section_pc_full > .guideBox > span {
      display: block;
      position: absolute;
      bottom: 10%;
      left: 10%;
      width: auto;
      height: auto;
      font-size: 80px;
      font-size: 5rem;
      color: #fff;
      text-shadow: 3px 3px 0 #333; }

#article_pc_full {
  width: 100%;
  height: 1000px;
  height: 62.5rem; }
  #article_pc_full > .fullBox {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url("../../img/etc/airplan.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; }
    #article_pc_full > .fullBox > ul {
      padding: 50px;
      padding: 3.125rem;
      box-sizing: border-box;
      margin-left: -100%;
      width: 50%;
      height: 100%;
      background-color: transparent;
      transition: all 500ms ease; }
      #article_pc_full > .fullBox > ul > li {
        width: 100%;
        height: 33.33333%;
        transform: translateX(-50vw);
        border-top: 3px solid #fff; }
        #article_pc_full > .fullBox > ul > li > a {
          display: block;
          width: 100%;
          height: 100%; }
          #article_pc_full > .fullBox > ul > li > a > span {
            display: block;
            margin-left: 5%;
            width: auto;
            height: auto;
            font-size: 60px;
            font-size: 3.75rem;
            color: #fff;
            text-shadow: 3px 3px 0 #333; }
    #article_pc_full > .fullBox.action > ul {
      margin-left: 0; }
    #article_pc_full > .fullBox.action > ul li {
      transform: translateX(0); }
    #article_pc_full > .fullBox.action > ul li:nth-child(1) {
      transition: all 500ms ease 300ms; }
    #article_pc_full > .fullBox.action > ul li:nth-child(2) {
      transition: all 500ms ease 600ms; }
    #article_pc_full > .fullBox.action > ul li:nth-child(3) {
      transition: all 500ms ease 900ms; }
    #article_pc_full > .fullBox > span {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5%;
      width: auto;
      height: auto;
      font-size: 70px;
      font-size: 4.375rem;
      color: #fff;
      text-shadow: 3px 3px 0 #333; }
    #article_pc_full > .fullBox > p {
      position: absolute;
      bottom: 5%;
      width: 100%;
      height: 100px;
      height: 6.25rem; }
      #article_pc_full > .fullBox > p > a {
        display: block;
        float: right;
        width: auto;
        height: 100px;
        height: 6.25rem;
        background-color: #000033; }
        #article_pc_full > .fullBox > p > a > span {
          display: block;
          width: auto;
          height: auto;
          font-size: 36px;
          font-size: 2.25rem;
          line-height: 100px;
          line-height: 6.25rem;
          color: #fff; }

#article_pc_full_02 {
  width: 100%;
  height: 1000px;
  height: 62.5rem;
  padding-top: 100px;
  padding-top: 6.25rem; }
  #article_pc_full_02 > .fullBox {
    position: relative;
    padding: 50px;
    padding: 3.125rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%; }
    #article_pc_full_02 > .fullBox > div {
      float: left;
      margin-right: 5%;
      width: 30%;
      height: 80%;
      background-color: #fff; }
      #article_pc_full_02 > .fullBox > div:last-of-type {
        margin-right: 0; }
      #article_pc_full_02 > .fullBox > div > .guide_box {
        position: relative;
        width: 100%;
        height: 100%;
        margin: auto;
        overflow: hidden; }
        #article_pc_full_02 > .fullBox > div > .guide_box > ul {
          position: absolute;
          width: 500%;
          height: 80%;
          left: -100%; }
          #article_pc_full_02 > .fullBox > div > .guide_box > ul > li {
            float: left;
            width: 20%;
            height: 100%;
            overflow: hidden; }
            #article_pc_full_02 > .fullBox > div > .guide_box > ul > li > a {
              display: block;
              width: 100%;
              height: 100%;
              border-radius: 0.3rem; }
              #article_pc_full_02 > .fullBox > div > .guide_box > ul > li > a > span {
                display: block;
                width: 90%;
                height: auto;
                transform: translateY(450%);
                margin: auto;
                font-size: 24px;
                font-size: 1.5rem;
                color: #000033;
                padding-top: 30px;
                padding-top: 1.875rem;
                padding-bottom: 30px;
                padding-bottom: 1.875rem;
                background-color: rgba(255, 255, 255, 0.5);
                text-align: center;
                border-radius: 0.5rem; }
        #article_pc_full_02 > .fullBox > div > .guide_box > a {
          display: block;
          position: absolute;
          left: 50%;
          bottom: 10%;
          transform: translateX(-50%);
          width: 200px;
          width: 12.5rem;
          height: 100px;
          height: 6.25rem;
          background-color: #000033; }
          #article_pc_full_02 > .fullBox > div > .guide_box > a > span {
            display: block;
            width: auto;
            height: auto;
            font-size: 30px;
            font-size: 1.875rem;
            color: #fff;
            text-transform: capitalize;
            text-align: center;
            line-height: 100px;
            line-height: 6.25rem; }
        #article_pc_full_02 > .fullBox > div > .guide_box > .btn_area {
          display: none;
          position: absolute;
          top: 40%;
          width: 100%;
          height: 0; }
          #article_pc_full_02 > .fullBox > div > .guide_box > .btn_area > .next {
            float: right;
            width: 50px;
            width: 3.125rem;
            height: 50px;
            height: 3.125rem;
            background-color: transparent; }
          #article_pc_full_02 > .fullBox > div > .guide_box > .btn_area > .prev {
            float: left;
            width: 50px;
            width: 3.125rem;
            height: 50px;
            height: 3.125rem;
            background-color: transparent; }
          #article_pc_full_02 > .fullBox > div > .guide_box > .btn_area i {
            display: block;
            width: auto;
            height: auto;
            font-size: 50px;
            font-size: 3.125rem;
            color: #fff;
            text-shadow: 3px 3px 0 #333; }
    #article_pc_full_02 > .fullBox > p {
      position: absolute;
      bottom: 5%;
      width: 100%;
      height: 100px;
      height: 6.25rem; }
      #article_pc_full_02 > .fullBox > p > a {
        display: block;
        float: right;
        margin-right: 50px;
        margin-right: 3.125rem;
        width: auto;
        height: 100px;
        height: 6.25rem;
        background-color: #000033;
        cursor: pointer; }
        #article_pc_full_02 > .fullBox > p > a > span {
          display: block;
          width: auto;
          height: auto;
          font-size: 36px;
          font-size: 2.25rem;
          color: #fff;
          line-height: 100px;
          line-height: 6.25rem; }

#pub_footer_pc_full {
  margin-top: 100px;
  margin-top: 6.25rem;
  width: 100%;
  height: auto; }
  #pub_footer_pc_full > ul {
    width: 100%;
    height: auto;
    opacity: 1; }
    #pub_footer_pc_full > ul > li {
      float: left;
      position: relative;
      padding: 20px;
      padding: 1.25rem;
      box-sizing: border-box;
      width: 14.28571%;
      height: 150px;
      height: 9.375rem;
      background-color: #000033; }
      #pub_footer_pc_full > ul > li > a {
        display: block;
        width: 80px;
        width: 5rem;
        height: 80px;
        height: 5rem;
        transform: translateX(50%);
        border-radius: 3px;
        border-radius: 0.1875rem;
        background-color: #fff; }
        #pub_footer_pc_full > ul > li > a > i {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center; }
        #pub_footer_pc_full > ul > li > a > span {
          display: block;
          margin-top: 20px;
          margin-top: 1.25rem;
          width: auto;
          height: auto;
          text-align: center;
          color: #fff;
          font-size: 18px;
          font-size: 1.125rem; }
  #pub_footer_pc_full > address {
    margin-top: 20px;
    margin-top: 1.25rem;
    padding: 30px;
    padding: 1.875rem;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    height: 12.5rem;
    font-size: 30px;
    font-size: 1.875rem;
    word-break: keep-all;
    font-style: normal; }
