@charset "UTF-8";
#wrap {
  width: 100%;
  height: 100%; }
  #wrap > .heading_area {
    padding: 20px;
    padding: 1.25rem;
    box-sizing: border-box;
    width: 100%;
    height: 10%; }
    #wrap > .heading_area > h1 {
      margin: auto;
      width: 30%;
      height: 90%; }
      #wrap > .heading_area > h1 > a {
        display: block;
        width: 100%;
        height: 100%;
        margin: auto;
        background-image: url("../../img/icon/paran_300.png");
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat; }
  #wrap > .fullBox {
    margin: auto;
    width: 70%;
    height: 80%;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee; }
    #wrap > .fullBox > p {
      margin-bottom: 10px;
      margin-bottom: 0.625rem;
      width: 100%;
      height: 5%;
      font-size: 30px;
      font-size: 1.875rem;
      color: #333;
      text-align: center; }
    #wrap > .fullBox > form {
      padding: 20px;
      padding: 1.25rem;
      box-sizing: border-box;
      width: 50%;
      height: 70%;
      margin: auto;
      border: 1px solid #333;
      background-color: #fff; }
      #wrap > .fullBox > form > fieldset {
        width: 100%;
        height: 60%; }
        #wrap > .fullBox > form > fieldset > .form_area {
          padding: 20px;
          padding: 1.25rem;
          box-sizing: border-box;
          width: 100%;
          height: 60%; }
          #wrap > .fullBox > form > fieldset > .form_area > input[type="email"] {
            display: block;
            width: 70%;
            height: 50px;
            height: 3.125rem;
            margin: auto;
            margin-top: 10%;
            border: 1px solid #555; }
          #wrap > .fullBox > form > fieldset > .form_area > input[type="password"] {
            display: block;
            width: 70%;
            height: 50px;
            height: 3.125rem;
            margin: auto;
            margin-top: 5%;
            border: 1px solid #555; }
        #wrap > .fullBox > form > fieldset > .btn_area {
          position: relative;
          padding: 20px;
          padding: 1.25rem;
          box-sizing: border-box;
          width: 100%;
          height: 35%;
          margin-bottom: 30px;
          margin-bottom: 1.875rem; }
          #wrap > .fullBox > form > fieldset > .btn_area > label {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            height: auto; }
            #wrap > .fullBox > form > fieldset > .btn_area > label > span {
              display: block;
              width: 100%;
              height: 100%;
              margin: auto;
              font-size: 24px;
              font-size: 1.5rem;
              color: #fff;
              text-align: center; }
          #wrap > .fullBox > form > fieldset > .btn_area > input[type="submit"] {
            margin-left: 20%;
            width: 60%;
            height: 50px;
            height: 3.125rem;
            border: 0;
            background-color: #000033; }
      #wrap > .fullBox > form > fieldset:last-of-type {
        width: 100%;
        height: 30%;
        border-top: 1px solid #eee; }
        #wrap > .fullBox > form > fieldset:last-of-type > ul {
          width: 100%;
          height: 100%;
          margin: auto; }
          #wrap > .fullBox > form > fieldset:last-of-type > ul > li {
            width: auto;
            height: 100%;
            text-align: center; }
            #wrap > .fullBox > form > fieldset:last-of-type > ul > li > span {
              font-size: 18px;
              font-size: 1.125rem;
              color: #333; }
              #wrap > .fullBox > form > fieldset:last-of-type > ul > li > span > i {
                font-size: 18px;
                font-size: 1.125rem; }
    #wrap > .fullBox > .cs_area {
      position: relative;
      margin: auto;
      width: 50%;
      height: 10%; }
      #wrap > .fullBox > .cs_area > ul {
        width: 100%;
        height: 100%;
        margin: auto; }
        #wrap > .fullBox > .cs_area > ul > li {
          width: auto;
          height: 100%;
          text-align: center; }
          #wrap > .fullBox > .cs_area > ul > li span {
            font-size: 18px;
            font-size: 1.125rem; }
            #wrap > .fullBox > .cs_area > ul > li span > i {
              font-size: 14px;
              font-size: 0.875rem; }

@media screen and (min-width: 320px) and (max-width: 480px) {
  #wrap > .heading_area > h1 {
    margin: auto;
    width: 100%;
    height: 90%;
    background-color: #fff; }
  #wrap > .fullBox {
    margin: auto;
    width: 70%;
    height: 80%;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee; }
    #wrap > .fullBox > p {
      margin-bottom: 10px;
      margin-bottom: 0.625rem;
      width: 100%;
      height: 5%;
      font-size: 14px;
      font-size: 0.875rem;
      color: #333;
      text-align: center; }
    #wrap > .fullBox > form {
      padding: 10px;
      padding: 0.625rem;
      box-sizing: border-box;
      width: 100%;
      height: 60%;
      margin: auto;
      border: 1px solid #333;
      background-color: #fff; }
      #wrap > .fullBox > form > fieldset {
        width: 100%;
        height: 60%; }
        #wrap > .fullBox > form > fieldset > .form_area {
          padding: 10px;
          padding: 0.625rem;
          box-sizing: border-box;
          width: 100%;
          height: 60%; }
          #wrap > .fullBox > form > fieldset > .form_area > input[type="email"] {
            display: block;
            width: 80%;
            height: 30px;
            height: 1.875rem; }
          #wrap > .fullBox > form > fieldset > .form_area > input[type="password"] {
            display: block;
            width: 80%;
            height: 30px;
            height: 1.875rem; }
        #wrap > .fullBox > form > fieldset > input[type="submit"] {
          margin-left: 15%;
          width: 70%;
          height: 100%;
          border: 0;
          background-color: #000033; }
    #wrap > .fullBox > fieldset:last-of-type {
      width: 100%;
      height: 30%;
      border-top: 1px solid #eee; }
      #wrap > .fullBox > fieldset:last-of-type > ul {
        width: 100%;
        height: 100%;
        margin: auto; }
        #wrap > .fullBox > fieldset:last-of-type > ul > li {
          width: auto;
          height: 100%;
          text-align: center; }
          #wrap > .fullBox > fieldset:last-of-type > ul > li span {
            font-size: 12px;
            font-size: 0.75rem; }
            #wrap > .fullBox > fieldset:last-of-type > ul > li span > i {
              font-size: 12px;
              font-size: 0.75rem; }
  > .cs_area > li {
    width: auto;
    height: 100%;
    text-align: center; }
    > .cs_area > li span {
      font-size: 14px;
      font-size: 0.875rem; }
      > .cs_area > li span > i {
        font-size: 12px;
        font-size: 0.75rem; } }

@media screen and (min-width: 481px) and (max-width: 768px) {
  #wrap > .heading_area > h1 {
    margin: auto;
    width: 100%;
    height: 90%;
    background-color: #fff; }
  #wrap > .fullBox {
    margin: auto;
    width: 50%;
    height: 80%;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee; }
    #wrap > .fullBox > p {
      margin-bottom: 10px;
      margin-bottom: 0.625rem;
      width: 100%;
      height: 5%;
      font-size: 20px;
      font-size: 1.25rem;
      color: #333;
      text-align: center; }
    #wrap > .fullBox > form {
      padding: 10px;
      padding: 0.625rem;
      box-sizing: border-box;
      width: 100%;
      height: 60%;
      margin: auto;
      border: 1px solid #333;
      background-color: #fff; }
      #wrap > .fullBox > form > .btn_area {
        position: relative;
        padding: 10px;
        padding: 0.625rem;
        box-sizing: border-box;
        width: 100%;
        height: 30%; }
        #wrap > .fullBox > form > .btn_area > label {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: auto;
          height: auto; }
          #wrap > .fullBox > form > .btn_area > label > span {
            display: block;
            width: auto;
            height: auto;
            font-size: 20px;
            font-size: 1.25rem;
            color: #fff;
            text-align: center; }
        #wrap > .fullBox > form > .btn_area > input[type="submit"] {
          margin-left: 15%;
          width: 70%;
          height: 100%;
          border: 0;
          background-color: #000033; } }

@media screen and (min-width: 1280px) {
  #wrap > .fullBox {
    margin: auto;
    width: 50%;
    height: 80%;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee; }
    #wrap > .fullBox > p {
      margin-bottom: 30px;
      margin-bottom: 1.875rem; }
    #wrap > .fullBox > form {
      width: 50%;
      height: 70%;
      margin: auto;
      border: 1px solid #333;
      background-color: #fff; }
      #wrap > .fullBox > form > fieldset {
        width: 100%;
        height: 50%; }
        #wrap > .fullBox > form > fieldset > .form_area {
          width: 100%;
          height: 50%;
          margin-bottom: 20px;
          margin-bottom: 1.25rem; }
          #wrap > .fullBox > form > fieldset > .form_area > input[type="email"] {
            display: block;
            width: 70%;
            height: 50px;
            height: 3.125rem;
            margin: auto;
            margin-top: 10%;
            border: 1px solid #555; }
          #wrap > .fullBox > form > fieldset > .form_area > input[type="password"] {
            display: block;
            width: 70%;
            height: 50px;
            height: 3.125rem;
            margin: auto;
            margin-top: 5%;
            border: 1px solid #555; } }

#wrap {
  width: 100%;
  height: auto;
  min-height: 1200px;
  min-height: 75rem;
  background-color: #eee; }
  #wrap > h1 {
    padding: 20px;
    padding: 1.25rem;
    box-sizing: border-box;
    width: 100%;
    height: 20%; }
    #wrap > h1 > a {
      display: block;
      margin: auto;
      width: 200px;
      width: 12.5rem;
      height: 100px;
      height: 6.25rem;
      background-image: url("../../img/icon/paran_300.png");
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat; }
  #wrap > .join_area {
    padding: 50px;
    padding: 3.125rem;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    min-height: 900px;
    min-height: 56.25rem;
    margin: auto; }
    #wrap > .join_area > form {
      width: 60%;
      height: auto;
      min-height: 900px;
      min-height: 56.25rem;
      margin: auto;
      background-color: #fff; }
      #wrap > .join_area > form > fieldset {
        position: relative;
        padding: 20px;
        padding: 1.25rem;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        /* 전체 동의 체크 시-------------------------------------------------- */
        /* 각각 동의 체크 시-------------------------------------------------- */ }
        #wrap > .join_area > form > fieldset > .check {
          width: 100%;
          height: auto; }
          #wrap > .join_area > form > fieldset > .check > input {
            position: absolute;
            z-index: -1;
            left: -9999rem;
            width: 0;
            height: 0;
            overflow: hidden;
            border: 0; }
            #wrap > .join_area > form > fieldset > .check > input > i {
              font-size: 1.4rem;
              color: #777;
              cursor: pointer; }
          #wrap > .join_area > form > fieldset > .check > p {
            width: 100%;
            height: 50px;
            height: 3.125rem;
            font-size: 16px;
            font-size: 1rem;
            color: #333; }
            #wrap > .join_area > form > fieldset > .check > p em {
              font-style: normal; }
          #wrap > .join_area > form > fieldset > .check dl {
            width: 100%;
            height: auto; }
            #wrap > .join_area > form > fieldset > .check dl > dt {
              width: 100%;
              height: auto;
              font-size: 24px;
              font-size: 1.5rem;
              color: #333;
              font-weight: bold; }
            #wrap > .join_area > form > fieldset > .check dl > dd {
              width: 100%;
              height: 200px;
              height: 12.5rem;
              margin-top: 10px;
              margin-top: 0.625rem;
              border: 2px solid #eee;
              overflow-x: auto; }
          #wrap > .join_area > form > fieldset > .check .rq_none_box {
            display: none;
            position: absolute;
            bottom: -50%;
            left: 50%;
            z-index: 1000;
            transform: translateX(-50%);
            width: 300px;
            width: 18.75rem;
            height: 200px;
            height: 12.5rem;
            background-color: #fff;
            border: 1px solid #000033; }
            #wrap > .join_area > form > fieldset > .check .rq_none_box > span {
              display: block;
              width: auto;
              height: auto;
              font-size: 18px;
              font-size: 1.125rem;
              text-align: center;
              line-height: 200px;
              line-height: 12.5rem;
              color: #333; }
            #wrap > .join_area > form > fieldset > .check .rq_none_box > button {
              position: absolute;
              right: 0;
              bottom: 0;
              width: 50px;
              width: 3.125rem;
              height: 20px;
              height: 1.25rem;
              background-color: #000033;
              color: #fff; }
        #wrap > .join_area > form > fieldset:nth-of-type(2) > h4 {
          margin-bottom: 20px;
          margin-bottom: 1.25rem;
          font-size: 24px;
          font-size: 1.5rem;
          font-weight: bold; }
        #wrap > .join_area > form > fieldset:nth-of-type(2) > p {
          border: 2px solid #eee; }
        #wrap > .join_area > form > fieldset:nth-of-type(3) .check dl > dd {
          margin-bottom: 30px;
          margin-bottom: 1.875rem; }
        #wrap > .join_area > form > fieldset:nth-of-type(4) {
          margin: auto;
          width: 100%;
          height: 100px;
          height: 6.25rem;
          text-align: center; }
        #wrap > .join_area > form > fieldset > input {
          width: 100px;
          width: 6.25rem;
          height: 50px;
          height: 3.125rem;
          border: 0;
          background-color: #000033;
          color: #fff; }
        #wrap > .join_area > form > fieldset .all_check > input:focus + p i {
          color: #000; }
        #wrap > .join_area > form > fieldset .all_check > input:checked + p i {
          color: #08a600; }
        #wrap > .join_area > form > fieldset .check input:focus + p i {
          color: #f00; }
        #wrap > .join_area > form > fieldset .check input:checked + p i {
          color: #08a600; }

@media screen and (min-width: 320px) and (max-width: 480px) {
  #wrap > .join_area {
    padding: 0;
    width: 100%;
    height: auto; }
    #wrap > .join_area > form {
      padding: 0;
      margin: auto;
      width: 100%;
      height: 80%; }
      #wrap > .join_area > form > fieldset {
        padding: 0;
        width: 100%;
        height: auto; }
        #wrap > .join_area > form > fieldset p:first-of-type {
          height: auto;
          margin-bottom: 30px;
          margin-bottom: 1.875rem; }
        #wrap > .join_area > form > fieldset dl {
          width: 100%;
          height: auto; }
          #wrap > .join_area > form > fieldset dl > dt {
            font-size: 16px;
            font-size: 1rem; }
          #wrap > .join_area > form > fieldset dl > dd {
            height: 200px;
            height: 12.5rem; }
        #wrap > .join_area > form > fieldset:nth-of-type(2) > h4 {
          margin-top: 20px;
          margin-top: 1.25rem;
          font-size: 18px;
          font-size: 1.125rem; }
        #wrap > .join_area > form > fieldset:nth-of-type(2) > p {
          height: 100px;
          height: 6.25rem;
          overflow-x: auto; } }

@media screen and (min-width: 481px) and (max-width: 768px) {
  #wrap > .join_area {
    width: 100%;
    height: auto; }
    #wrap > .join_area > form {
      padding: 10px;
      padding: 0.625rem;
      box-sizing: border-box;
      width: 100%;
      height: auto; }
      #wrap > .join_area > form > fieldset {
        width: 100%;
        height: auto; }
        #wrap > .join_area > form > fieldset p:first-of-type {
          margin-bottom: 50px;
          margin-bottom: 3.125rem; } }

#wrap {
  width: 100%;
  height: auto;
  background-color: #eee; }
  #wrap > h1 {
    width: 100%;
    height: 100px;
    height: 6.25rem;
    text-align: cneter; }
    #wrap > h1 > a {
      display: block;
      width: 300px;
      width: 18.75rem;
      height: 100%;
      background-image: url("../../img/icon/paran_300.png");
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat; }
  #wrap > #joinBox {
    padding: 30px;
    padding: 1.875rem;
    box-sizing: border-box;
    margin: auto;
    width: 60%;
    height: auto;
    background-color: #fff; }
    #wrap > #joinBox > form {
      width: 100%;
      height: auto; }
      #wrap > #joinBox > form > .input_area {
        width: 100%;
        height: auto;
        min-height: 600px;
        min-height: 37.5rem; }
        #wrap > #joinBox > form > .input_area > ul {
          padding: 10px;
          padding: 0.625rem;
          box-sizing: border-box;
          width: auto;
          height: auto; }
          #wrap > #joinBox > form > .input_area > ul > li {
            width: 80%;
            height: 100px;
            height: 6.25rem;
            margin: auto;
            margin-bottom: 10px;
            margin-bottom: 0.625rem; }
            #wrap > #joinBox > form > .input_area > ul > li > dl {
              width: 100%;
              height: 50px;
              height: 3.125rem;
              border: 1px solid #777; }
              #wrap > #joinBox > form > .input_area > ul > li > dl > dt {
                float: left;
                width: 50px;
                width: 3.125rem;
                height: 100%;
                border-right: 1px solid #777;
                box-sizing: border-box; }
                #wrap > #joinBox > form > .input_area > ul > li > dl > dt > label {
                  display: block;
                  padding: 0;
                  width: 100%;
                  height: 100%;
                  font-size: 30px;
                  font-size: 1.875rem;
                  line-height: 1.2;
                  text-indent: 0;
                  text-align: center; }
              #wrap > #joinBox > form > .input_area > ul > li > dl > dd {
                float: left;
                width: calc(100% - 50px);
                height: 100%; }
                #wrap > #joinBox > form > .input_area > ul > li > dl > dd > input {
                  width: 100%;
                  height: 100%;
                  border: 0; }
            #wrap > #joinBox > form > .input_area > ul > li > span.narr {
              display: none;
              width: 100%;
              height: 30px;
              height: 1.875rem;
              margin-top: 10px;
              margin-top: 0.625rem;
              background-color: #fff;
              color: #f00; }
            #wrap > #joinBox > form > .input_area > ul > li.error dl {
              border-color: #f00; }
            #wrap > #joinBox > form > .input_area > ul > li.error .narr {
              display: block; }
      #wrap > #joinBox > form .confirm_area {
        width: 100%;
        height: auto;
        padding: 20px;
        padding: 1.25rem;
        text-align: center; }
        #wrap > #joinBox > form .confirm_area > input[type="submit"] {
          width: 70%;
          height: 50px;
          height: 3.125rem;
          margin: auto;
          border: 0;
          background-color: #000033;
          border-radius: 3px;
          box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.5);
          color: #fff;
          font-size: 1.2rem;
          font-weight: bold; }
        #wrap > #joinBox > form .confirm_area p {
          margin-top: 10px;
          margin-top: 0.625rem;
          color: #333; }
          #wrap > #joinBox > form .confirm_area p > strong + em {
            font-weight: bold;
            font-style: normal; }
          #wrap > #joinBox > form .confirm_area p > button {
            padding: 0;
            background-color: transparent;
            text-decoration: underline;
            color: inherit;
            font-size: inherit; }
  #wrap > .compony_infor {
    width: 60%;
    height: auto;
    margin: auto; }
    #wrap > .compony_infor > p {
      width: auto;
      height: auto;
      text-align: center;
      font-style: normal; }
      #wrap > .compony_infor > p > .part_01 {
        text-transform: capitalize; }
      #wrap > .compony_infor > p > .part_02 {
        text-transform: uppercase; }

@media screen and (min-width: 320px) and (max-width: 480px) {
  #wrap {
    width: 100%;
    height: auto;
    background-color: #eee; }
    #wrap > h1 {
      margin-bottom: 30px;
      margin-bottom: 1.875rem; }
    #wrap > #joinBox {
      padding: 0;
      width: 100%; }
      #wrap > #joinBox > form > .input_area {
        background-color: #eee; }
        #wrap > #joinBox > form > .input_area > ul {
          padding: 0;
          background-color: #eee; }
          #wrap > #joinBox > form > .input_area > ul > li {
            width: 100%; }
            #wrap > #joinBox > form > .input_area > ul > li > dl {
              width: 90%;
              margin: auto; }
              #wrap > #joinBox > form > .input_area > ul > li > dl > dd {
                width: calc(100% - 50px); }
                #wrap > #joinBox > form > .input_area > ul > li > dl > dd > input {
                  width: 100%; }
      #wrap > #joinBox > form > .confirm_area {
        padding: 0;
        background-color: #eee; }
    #wrap > .compony_infor {
      padding: 20px;
      padding: 1.25rem;
      text-align: center; } }

@media screen and (min-width: 481px) and (max-width: 768px) {
  #wrap {
    width: 100%;
    height: auto;
    background-color: #eee; }
    #wrap > h1 {
      margin-bottom: 30px;
      margin-bottom: 1.875rem; }
    #wrap > #joinBox {
      padding: 0;
      width: 100%; }
      #wrap > #joinBox > form > .input_area {
        background-color: #eee; }
        #wrap > #joinBox > form > .input_area > ul {
          padding: 0;
          background-color: #eee; }
          #wrap > #joinBox > form > .input_area > ul > li {
            width: 100%; }
            #wrap > #joinBox > form > .input_area > ul > li > dl {
              width: 70%;
              margin: auto; }
              #wrap > #joinBox > form > .input_area > ul > li > dl > dd {
                width: calc(100% - 50px); }
                #wrap > #joinBox > form > .input_area > ul > li > dl > dd > input {
                  width: 100%; }
      #wrap > #joinBox > form > .confirm_area {
        padding: 0;
        background-color: #eee; }
    #wrap > .compony_infor {
      padding: 20px;
      padding: 1.25rem;
      text-align: center; } }
